.p1-content-title{
  color: rgb(0, 176, 80);
  font-weight: 800;
  border-bottom: 2px solid rgb(0, 176, 80);
  padding: 15px 0;
}
.pencil-icon{
  position: absolute;
  right: 30px;
  font-size: 60px;
  color: rgb(242, 158, 102);
}
.p1-content-subtitle{
  color: rgb(0, 126, 63);
  margin: 60px 0px;
  font-size: 30px;
  font-weight: 600;
}

.p1-content-space{
  height: 30px;
}
.p1-content-subtitle-text{
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 30px;
}
.p1-content-text{
  font-weight: 900;
  color: black;
  font-size: 20px;
  margin-bottom: 8px;
}
.p1-content-img{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100%;
}
.p1-content-left{
  width: 200px;
  height: 100%;
  background-color: rgb(255,249, 229);
  border-radius: 50px;
  padding: 30px 30px;
}
