.p1-content-title{
  color: rgb(255, 103, 103);
  font-weight: 800;
  border-bottom: 2px solid rgb(255, 103, 103);
  padding: 15px 0;
}
.pencil-icon{
  position: absolute;
  right: 30px;
  font-size: 60px;
  color: rgb(242, 158, 102);
}
.p1-content-left{
  width: 200px;
  height: 100%;
  background-color: rgb(255,249, 229);
  border-radius: 50px;
  padding: 30px 30px;
}
.p1-content-space{
  height: 60px;
}
.p1-content-text{

  color: black;
  font-size: 18px;
  margin-bottom: 8px;
}
